RewriteEngine on
RewriteRule ^login /Client/Login.php$1 [L]
RewriteRule ^register /Client/Register.php$1 [L]
RewriteRule ^cpanels /Client/Cpanel.php$1 [L]
RewriteRule ^quan-ly-hosting /Client/MyHosting.php$1 [L]
RewriteRule ^Order/Cpanel/([a-zA-Z0-9_-]+) /Client/OrderHosting.php?id=$1 [L]
RewriteRule ^datahost/([a-zA-Z0-9_-]+) /Client/DataHost.php?id=$1 [L]
RewriteRule ^napcard /Client/NapCard.php$1 [L]
RewriteRule ^napbank /Client/NapBank.php$1 [L]
RewriteRule ^savechat /Client/savechat.php$1 [L]
RewriteRule ^chatload /Client/chatload.php$1 [L]
RewriteRule ^cron /Cron/Cron.php$1 [L]
RewriteRule ^momo /Cron/CronMomo.php$1 [L]
RewriteRule ^callback /Cron/Callback.php$1 [L]
RewriteRule ^dangxuat /Client/DangXuat.php$1 [L]
RewriteRule ^profile /Client/Profile.php$1 [L]
RewriteRule ^tao-trang-web /Client/Web.php$1 [L]
RewriteRule ^order/web/([a-zA-Z0-9_-]+) /Client/OrderWeb.php?id=$1 [L]
RewriteRule ^quan-ly-web /Client/MyWeb.php$1 [L]
RewriteRule ^dataweb/([a-zA-Z0-9_-]+) /Client/DataWeb.php?id=$1 [L]
RewriteRule ^publisher /Profile/index.html$1 [L]